.login-card {
    width: 30%;
    border: none;
}

.login-header{
    text-align: center;
    background: none;
    border: none;
}

.login-body{
    border: 1px lightgrey solid;
}

.login-footer{
    text-align: center;
    background: none;
    border: none;
}


.login-button{
    border-radius: 0px;
    background-color: #dc3545;
    border: none;
}

.login-button:hover, .login-button:active{
    background-color: crimson;
}

.login {
	align-items: center;
	justify-content: center;
	display: flex;
}
